{% for entity in entities %}
	
	{% for entity in entity.traductions %}
		Nom : {{ entity.nom }} <br>
		Description : {{ entity.nom }} <br>
	{% endfor %}
	Prix : {{ entity.prix }} <br>
	Stock :{{ entity.stock }}<br>

	<hr>
{% endfor %}
